<!DOCTYPE html>
<html>
    <head>
        <title>@Page.Title</title>
        <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
        @RenderSection("head", required: false)
    </head>
    <body>
        <h1>@Page.Title</h1>
        @RenderBody()
        <p>Todos os direitos reservados</p>
    </body>
</html>
