@Html.ValidationSummary(new { @class = "alert alert-danger" })

<form action="" method="post" class="form-horizontal">
    <input type="hidden" name="Id" value="@Page.fabricante.Id" />
    <div class="form-group">

        <label class="control-label col-md-3 col-sm-3">Nome do Fabriante:</label>

        <div class="col-md-9 col-sm-9">
            <input type="text" name="Nome" value="@Page.fabricante.Nome" class="form-control" />
            @Html.ValidationMessage("Nome")
        </div>

    </div>

    <button type="submit" class="btn btn-primary">Cadastrar</button>

</form>
